/***********************************************/

/* divs.css                                    */

/*                                             */

/* These layout divs define the page layout.   */

/*                                             */

/***********************************************/





/***********************************************/

/* Layout Divs                                 */



/************************************/

#row1{

	border-bottom: 1px solid #CCCCCC;

	width: 100%;

}



/************************************/





/************************************/

 #col1{

	float: right;

	width: 22%;

	margin-left: 1%;

	padding: 1%;

	background-color: #EEEEEE;

	border-left: 1px solid #CCCCCC;

	border-bottom: 1px solid #CCCCCC;

}


/************************************/







/************************************/

#col2{

	float: left;

	width: 100%;

}

/************************************/



/*End Layout Divs                              */

/***********************************************/

.esparta {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #666666;
}
.borde {
	border: thick solid #0000FF;
}
.margen {
	padding-left: 30px;
}
